[Unit]
Description=Bot Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/vpn/bot
ExecStart=/usr/bin/python3 Do.py
Restart=always

[Install]
WantedBy=multi-user.target